
/* <!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>HTML5 y CSS Formulario de contacto</title>
    <link href="StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <form  class="contact_form" action="#" id="contact_form" runat="server">
        <div>
            <ul>
                <li>
                    <h2>Contactos</h2>
                    <span class="required_notification">* Datos requeridos</span>
                </li>
                <li>
                    <label for="name">Nombre:</label>
                    <input type="text" placeholder="John Doe" required />
                </li>
                <li>
                    <label for="email">Email:</label>
                    <input type="email" name="email" placeholder="info@developerji.com" required />
                    <span class="form_hint">Formato correcto: "name@something.com"</span>
                </li>
                <li>
                    <label for="website">Sitio web:</label>
                    <input type="url" name="website" placeholder="http://developerji.com" required pattern="(http|https)://.+" />
                    <span class="form_hint">Formato correcto: "http://developerji.com"</span>
                </li>
                <li>
                    <label for="message">Mensaje:</label>
                    <textarea name="message" cols="40" rows="6" required></textarea>
                </li>
                <li>
                    <button class="submit" type="submit">Enviar mensaje</button>
                </li>
            </ul>
        </div>
    </form>
</body>
</html> */


/* === Form Typography === */
body {
    font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode",
      sans-serif;
  }
  
  .contact_form h2,
  .contact_form label {
    font-family: Georgia, Times, "Times New Roman", serif;
  }
  



/* === List Styles === */
.contact_form ul {
  width: 750px;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
} */

.contact_form li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  position: relative;
}

.contact_form li:first-child,
.contact_form li:last-child {
  border-bottom: 1px solid #777;
} 

/* form element visual styles */
.contact_form input,
.contact_form textarea {
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius: 2px;
  padding-right: 30px;
  -moz-transition: padding 0.25s;
  -webkit-transition: padding 0.25s;
  -o-transition: padding 0.25s;
  transition: padding 0.25s;
}

.contact_form input:focus,
.contact_form textarea:focus {
  background: #fff;
  border: 1px solid #555;
  box-shadow: 0 0 3px #aaa;
  padding-right: 70px;
} 

/* === HTML5 validation styles === */
.contact_form input:required,
.contact_form textarea:required {
  background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}

.contact_form input:required:valid,
.contact_form textarea:required:valid {
  background: #fff url(images/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}

.contact_form input:focus:invalid,
.contact_form textarea:focus:invalid {
  background: #fff url(images/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
}

/* === Button Style === */
button {
  background-color: #68b12f;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#68b12f),
    to(#50911e)
  );
  background: -webkit-linear-gradient(top, #68b12f, #50911e);
  background: -moz-linear-gradient(top, #68b12f, #50911e);
  background: -ms-linear-gradient(top, #68b12f, #50911e);
  background: -o-linear-gradient(top, #68b12f, #50911e);
  background: linear-gradient(top, #68b12f, #50911e);
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #9fd574;
  -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
  -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
  -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
  -o-box-shadow: 0 1px 0 0 #9fd574 inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
}

button:hover {
  opacity: 0.85;
  cursor: pointer;
}

button:active {
  border: 1px solid #20911e;
  box-shadow: 0 0 10px 5px #356b0b inset;
  -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
  -moz-box-shadow: 0 0 10px 5px #356b0b inset;
  -ms-box-shadow: 0 0 10px 5px #356b0b inset;
  -o-box-shadow: 0 0 10px 5px #356b0b inset;
}
