@import url("sanitize.css");

/* === Form Typography === */
.contact_form h2,
.contact_form,
.results__heading,
label {
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* === List Styles === */
.contact_form ul {
  width: 70%;
  list-style-type: none;
  list-style-position: outside;
  margin: 3vw;
  padding: 1vw;
}

/* === Form Header === */
.contact_form h2 {
  margin: 0vw 0.1vw 1vw;
}

/* === Form Elements === */
.form_container {
  display: inline-flex;
  flex-flow: row wrap;
  max-width: 80%;
  border-radius: 0.3vw;
  background-color: #f2f2f2;
  padding: 1.4vw;
}

.form_container li {
  padding: 0.6vw;
}

#plz_li {
  flex: 1 1 auto;
  margin-right: 2.5vw;
}

#plz_label {
  padding-right: 1.4vw;
}

#stadt_li {
  flex: 2 2 25vw;
}

#stadt_label {
  padding-right: 0.5vw;
}

#stadt {
  width: 87%;
}

#straße_li {
  flex: 2 2 25vw;
}

#straße_label {
  padding-right: 0.3vw;
}

#straße_input {
  width: 80%;
}

#land_li {
  flex: 1 1 100%;
}

#land {
  width: 91.5%;
}

.contact_form label {
  padding-right: 1vw;
}

.contact_form button {
  margin: 1.5vw 0.1vw;
}

button[type="submit"] {
  padding: 0.5vh 3vw;
}

.results {
  width: 90vw;
  max-width: 30%;
  margin: 0vh 4vw;
  /* margin: 12vh; */
}

.results__heading {
  font-size: 110%;
}

.results__display-wrapper {
  margin-top: 16px;
  margin-top: 1rem;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  background: #f9fdfe;
  border: 1px solid #cdcfcf;
  overflow-x: scroll;
}
