/* === Form Typography === */

.contact_form h2,
.contact_form,
.results__heading,
label {
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* === List Styles === */
.contact_form ul {
  width: 70%;
  list-style-type: none;
  list-style-position: outside;
  margin: 3vw;
  padding: 1vw;
}

/* .contact_form li {
  padding: 2px;
  border-bottom: 1px solid #eee;
  position: relative;
} */

/* .contact_form li:first-child,
.contact_form li:last-child {
  border-bottom: 1px solid #777;
} */

/* === Form Header === */
.contact_form h2 {
  margin: 0 0.5vw;
}

/* === Form Elements === */

.form_container {
  display: flex;
  flex-flow: row wrap;
  max-width: 80%;
}

.form_container li {
  padding: 0.5vw;
}

#plz_label {
  padding-right: 1.9vw;
}

input[type="text" i] {
  padding: 0.5vh 0.2vw;
}

.contact_form label {
  /* width: 5px; */
  /* margin-top: 3px; */
  /* display: inline-block; */
  /* float: left; */
  padding-right: 1.7vw;
}

.contact_form button {
  margin: 0.5vw;
}

button[type="submit"] {
  padding: 0.5vh 3vw;
}

.results {
  width: 90vw;
  max-width: 30%;
  margin: 0vh 4vw;
  /* margin: 12vh; */
}

.results__heading {
  font-size: 110%;
}

.results__display-wrapper {
  margin-top: 16px;
  margin-top: 1rem;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
  background: #f9fdfe;
  border: 1px solid #cdcfcf;
  overflow-x: scroll;
}
