/* === Form Typography === */

.contact_form h2,
.contact_form label {
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* === List Styles === */
.contact_form ul {
  width: 70%;
  list-style-type: none;
  list-style-position: outside;
  margin: 2vw;
  padding: 1vw;
}

/* .contact_form li {
  padding: 2px;
  border-bottom: 1px solid #eee;
  position: relative;
} */

/* .contact_form li:first-child,
.contact_form li:last-child {
  border-bottom: 1px solid #777;
} */

/* === Form Header === */
.contact_form h2 {
  margin: 0;
  display: inline;
}

/* === Form Elements === */

.container {
  display: flex;
  flex-flow: row wrap;
}

.contact_form label {
  width: 5px;
  margin-top: 3px;
  /* display: inline-block; */
  /* float: left; */
  align-self: ;
  padding: 3px;
}


.contact_form #plz {
  /* height: 2vw;
  width: 12vw;
  padding: 0vw */
}

.contact_form textarea {
  padding: 8px;
  width: 300px;
}

.contact_form button {
  margin-left: 156px;
}
